body {
    margin: 60px auto;
    max-width: 980px;
}
nav ul, footer ul {
    font-family:'Helvetica', 'Arial', 'Sans-Serif';
    padding: 0px;
    list-style: none;
    font-weight: bold;
    margin-left: 15px;
}

nav ul li, footer ul li {
    display: inline;
    margin-right: 20px;
}

a {
    text-decoration: none;
    color:deeppink;
    /* color:lightcoral; */

}
a:hover {
    text-decoration: underline;
}
h1 {
    font-size: 3em;
    font-family:'Helvetica', 'Arial', 'Sans-Serif';
}

h2 {
    font-family:'Helvetica', 'Arial', 'Sans-Serif';
}

p {
    font-family:'Helvetica', 'Arial', 'Sans-Serif';
    font-size: 1.3em;
    line-height: 1.3em;
    color: #333;
}
footer {
    border-top: 1px solid #d5d5d5;
    font-size: 1em;
    margin-left: 15px;
}

ul.posts {
    font-family:'Helvetica', 'Arial', 'Sans-Serif';
    margin: 20px auto 40px;
    font-size: 1.3em;
    max-width: 980px;
}

ul.posts li {
    list-style: none;
}

div.container {
    margin-left: 15px;
    margin-right: 15px;
}

div.post-image {
    text-align: center;
}

span.image-caption {
    font-style: italic; 
    font-size: 1em; 
    display: inline-block;
    position: relative;
}